<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script type="text/javascript" src="bower_components/d3/d3.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script-->
        <script type="text/javascript" src="test.js"></script>
        <style type="text/css">
        .rect {
                fill: black;
                stroke: gray;
                stroke-width: 5;
             }

        </style>
    </head>
    <body>
    <script>
        var targetApp = angular.module('targetApp', [])
        targetApp.controller('modelNameCtrl', function modelNameController($scope) {
            $scope.targetName= "test2";
        })
        targetApp.controller('jsonpCtrl', function jsonpController($scope, $http) {
            $scope.doRequest = function() {
                    console.log('done')
                    console.log(data.found);

            };   
            
        })
        var w = 500;
        var h = 500;
        var svg = d3.select("body")
            .append("svg")
            .attr("width", w)   
            .attr("height", h);
        var data = []
        for (i=0;i<9;i++){
            data.push([ 0,1,2,3,4,5,6,7,8,9 ])
            };
        var rects = svg.selectAll('rect')
        .data(data)
        .enter()
        .append('rect')
        
        rects.attr("width", "30")
             .attr("height", "30")
             .attr("x", function(d, i){
             return i*40+20
             })
             .attr("y", function(d,i){
            return 25
            })
             .attr('class', 'rect')
        
    </script>
    

    <div ng-app='targetApp' >
        <button ng-click="doRequest()" ng-controller="jsonpCtrl">Make JSONP request</button>
        <div ng-controller="modelNameCtrl" >
        <input type="text" ng-model="targetName" ><br>
        <br>
        target : {{targetName}}
        </div>
    
     
    </div>





    <div id="body">
      <div id="footer">
        <div class="hint">click or option-click to descend or ascend</div>
        <div><select>
          <option value="size">Size</option>
          <option value="count">Count</option>
        </select></div>
      </div>
    </div>
   
    

  

    </body>
</html>     